.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-end{
    justify-content: flex-end;
}
.jc-center{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.as-center{
    align-self: center;
}
.d-none{
    display: none;
}